* {
    margin: 0;
}

.color {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    width: 10px;
    margin: 2px;
}

.preto {
    background-color: black;
}

.rosa {
    background-color: #ffafcc;
}

.roxo {
    background-color: #e7c6ff;
}

.azul {
    background-color: #bde0fe;
}
#pixel-board {
    width: 30%;
}
.pixel {
    display:inline-grid;
    grid-template-columns: auto;
    padding: 35px;
    border: 1px solid black;
    background-color: white;
}